@model List<LeaveManagement.DataModels.ApplicationUser>
@{
    ViewBag.Title = "Remove Employee Record";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<body>
    <br><br>
    <div class="container-fluid col-md-8">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Employee Username</th>
                    <th scope="col">Phone Number</th>                   
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Email</th>
                        <td>@item.UserName</td>
                        <td>@item.PhoneNumber<td>         
                         <button class="btn btn-danger" onclick="redirect('@item.Id')">Delete Record</button>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
<script>
    function redirect(val) {
        console.log(val);
        var form = $('<form method="post" action="/Employee/Delete"><input type="hidden" name="id" value=' + val + '  ></form>');
        $(form).appendTo('body').submit();

    }
</script>