@model List<LeaveManagement.DataModels.ApplicationUser>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="container-fluid col-md-4">
    <h2 class="text-center">Search Employees</h2>
    <form action="/Home/SearchResultByName" method="post">
        <div class="active-cyan-4 mb-4">
            <label for="UserName">Search By Username:</label>
            <select id="byname" name="UserName" class="form-control">
                @foreach (var item in Model)
                {
                    <option value="@item.UserName">@item.UserName</option>
                }
            </select>
            <br />
            <div class="text-center">
                <button class="btn btn-primary">Search by Name</button>
            </div>
        </div>
        </form>
        <form action="/Home/SearchResult" method="post">
            <label for="RoleSelect">Search By Role:</label>
            <select id="ApprovedBy" name="RoleName" class="form-control">
                <option value="ProjectManager">ProjectManager</option>
                <option value="HumanResources">HumanResources</option>
                <option value="Employee">Employee</option>
            </select>
            <br />
            <div class="text-center">
                <button class="btn btn-primary">Search by Role</button>
            </div>
        </form>
</div>
    
   
